@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

html, body{
  font-family: 'Raleway', sans-serif;
}


.toast__container {
    display: table-cell;
    vertical-align: middle;
}

.toast__cell{
  display:inline-block;
}

.add-margin{
  margin-top:20px;
}

.toast__svg{
  fill:#fff;
}

.toast {
    text-align:left;
    padding: 21px 0;
    background-image: url("https://i.pinimg.com/originals/e3/77/46/e377461761c8ab33fbb713ada400984a.gif");    /*change this link to make your custom animated background*/
    border-radius:4px;
    max-width: 500px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-right: 4px #ff00ea solid;
}



.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toast__icon{
  color: #FF3D3D;
  position:absolute;
  top:40%;
  left:5px;
  transform:translateY(-50%);
  width:27px;
  height:27px;
  padding: 7px;
  font-size: 40px;
}

.toast__type {
  color: rgb(235, 14, 255);
  font-weight: 700;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}

.toast__message {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: white;

}

.toast__content{
  padding-left:70px;
  padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
  fill:#878787;
    transform: translateY(-50%);
}

.toast--green .toast__icon{
  background-color:#2BDE3F;
}

.toast--green:before{
  background-color:#2BDE3F;
}

.toast--blue .toast__icon{
  background-color:transparent;
}

.toast--blue:before{
  background-color:transparent;
}

.toast--yellow .toast__icon{
  background-color:#FFC007;
}

.toast--yellow:before{
  background-color:#FFC007;
}


